/* ===== GOOGLE FONT: INTER ===== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* ===== VARIABLES ===== */
@import "../styles/variables.css";

html{
  overflow-y: scroll;
}

/* ===== RESET ===== */
* {
  box-sizing: border-box;
}

/* ===== BASE ===== */
body {
  margin: 0;
  background-color: #0e0e0e;
  min-height: 100%;
    overflow: hidden;

  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-family:'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.scroll-lock {
  overflow: hidden;
  padding-right: 15px; /* компенсація scrollbar */
}

.page {
  opacity: 0;
  transform: translateY(16px);
  filter: blur(6px);
  animation: pageFadeIn 0.7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes pageFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

/* ===== GLOBAL AUTOFILL FIX ===== */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;

  /* 🔥 перекриття білого фону */
  -webkit-box-shadow: 0 0 0 1000px rgba(14, 15, 13, 0.75) inset !important;
  box-shadow: 0 0 0 1000px rgba(14, 15, 13, 0.75) inset !important;

  transition: background-color 9999s ease-in-out 0s;
}

