/* ===== HEADER ===== */

.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 95%;
  max-width: 2100px;
  z-index: 100;

  background: rgba(14, 15, 13, 0.55);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 24px;
  font-family: "Jost", sans-serif;

  box-shadow: 
    0 10px 30px rgba(0, 0, 0, 0.25),
    inset 0 0 0 1px rgba(155, 207, 106, 0.15);
}

/* ===== NAV ===== */

.nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px 24px;
  height: 80px;

  display: flex;
  align-items: center;
}

/* ===== LEFT ===== */

.nav-left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 5px;
  transition: color 0.25s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--color-primary-hover);
  border-radius: 2px;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
  color: #9bcf6a;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

/* ===== CENTER LOGO ===== */

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
}

.nav-logo img {
  height: 54px;
  display: block;
  transition: filter 0.35s ease;
}

.nav-logo:hover img {
  filter: drop-shadow(0 0 1px rgb(43, 255, 0));
}

/* ===== RIGHT ===== */

.nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}

/* info row */

.nav-info {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 14px;
  color: #eaeaea;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #ffffff;
  text-decoration: none;
}

.nav-item .icon {
  display: flex;
  align-items: center;
}

/* ===== BUTTON ===== */

.btn {
  position: relative;
  padding: 9px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 1px solid #A3DA74;
  overflow: hidden;

  transition: 
    background 0.3s ease,
    color 0.3s ease,
    transform 0.2s ease;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.btn:hover::after {
  transform: translateX(100%);
}

.btn:hover {
  background-color: #9bcf6a;
  color: #1a1a1a;
  transform: scale(1.01);
}

.btn:active {
  transform: scale(0.98);
}
